In [1]:
# 4th assignment

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from urllib.request import urlopen
from bs4 import BeautifulSoup

%matplotlib inline

In [47]:
url = "https://sport.orf.at/tabellen/stories/2288062/"
html = urlopen(url)

In [48]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [49]:
title = soup.title
print(title)

<title>Formel-1-WM 2021 - sport.ORF.at - Tabellen</title>

In [50]:
text = soup.get_text()
print(text)

Formel-1-WM 2021 - sport.ORF.at - Tabellen













































Zum Inhalt [AK+1] /
Zur ORF.at-Navigation [AK+3]





Fernsehen
TVthek
Radiothek
Debatte
Österreich
Wetter
Sport
News

ORF.at im Überblick







            sport









Navigation





News
Sport
Wetter
Österreich
Debatte
Radiothek
TVthek
Fernsehen
Alle ORF Angebote






Alle Tabellen








Alle Tabellen














Formel-1-WM 2021




Fahrerwertung


1.
Max Verstappen
NED
Red Bull
131

2.
Lewis Hamilton
GBR
Mercedes
119

3.
Sergio Perez
MEX
Red Bull
84

4.
Lando Norris
GBR
McLaren
76

5.
Valtteri Bottas
FIN
Mercedes
59

6.
Charles Leclerc
MON
Ferrari
52

7.
Carlos Sainz
ESP
Ferrari
42

8.
Pierre Gasly
FRA
Alpha Tauri
37

9.
Daniel Ricciardo
AUS
McLaren
34

10.
Sebastian Vettel
GER
Aston Martin
30

11.
Fernando Alonso
ESP
Alpine
17

12.
Esteban Ocon
FRA
Alpine
12

13.
Lance Stroll
CAN
Aston Martin
10

14.
Yuki Tsunoda
JPN
Alpha Tauri
8

15.
Kimi Räikkönen
FIN
Alfa Romeo
1

16.
Antonio Giovinazzi
ITA
Alfa Romeo
1

17.
George Russell
GBR
Williams
0

18.
Mick Schumacher
GER
Haas
0

19.
Nikita Mazepin
RUS
Haas
0

20.
Nicholas Latifi
CAN
Williams
0



Stand nach sieben von 23 Rennen


Konstrukteurswertung







1.
Red Bull
215

2.
Mercedes
178

3.
McLaren
110

4.
Ferrari
94

5.
Alpha Tauri
45

6.
Aston Martin
40

7.
Alpine
29

8.
Alfa Romeo
2

9.
Williams
0

10.
Haas
0



Stand nach sieben von 23 Rennen



Links:FIAFormula 1.comred, ORF.at







Zurück zur Startseite


News
Sport
Wetter
Österreich
Debatte
Radiothek
TVthek
Fernsehen
Radio
Alle ORF-Angebote


Kontakt
Datenschutz
Impressum/Offenlegung
Bekanntgaben laut ORF-G
Publikumsrat


ORF.at


Nicht alle Bilder konnten vollständig geladen werden. Bitte schließen Sie die Druckvorschau bis alle Bilder geladen wurden und versuchen Sie es noch einmal.

In [51]:
soup.find_all('a')

[<a accesskey="1" href="#ss-storyWrapper">Zum Inhalt [AK+1]</a>,
 <a accesskey="3" href="#ss-networkNavigation">Zur ORF.at-Navigation [AK+3]</a>,
 <a href="https://tv.orf.at/">Fernsehen</a>,
 <a href="https://tvthek.orf.at/">TVthek</a>,
 <a href="https://radiothek.orf.at/">Radiothek</a>,
 <a href="https://debatte.orf.at/">Debatte</a>,
 <a class="networkOesterreich" href="https://oesterreich.orf.at/">Österreich</a>,
 <a href="https://wetter.orf.at/">Wetter</a>,
 <a class="current" href="https://sport.orf.at/">Sport</a>,
 <a href="https://orf.at/" lang="en">News</a>,
 <a aria-controls="sitemap" aria-haspopup="true" href="https://orf.at/uebersicht/" id="sitemap-button" role="button">ORF.at im Überblick</a>,
 <a aria-label="zur sport.ORF.at-Startseite" class="site-logo sport-logo" href="https://sport.orf.at/">
             sport
          </a>,
 <a class="orfon-target-logo" href="https://orf.at/">
 <img alt="zur ORF.at-Startseite" height="39" src="/mojo/1_4_1/storyserver//news/sport/images/target_sport.svg" title="" width="101"/>
 </a>,
 <a href="https://orf.at/">News</a>,
 <a href="https://sport.orf.at/">Sport</a>,
 <a href="https://wetter.orf.at/m/">Wetter</a>,
 <a href="https://oesterreich.orf.at/m/">Österreich</a>,
 <a href="https://debatte.orf.at">Debatte</a>,
 <a href="https://radiothek.orf.at">Radiothek</a>,
 <a href="https://tvthek.orf.at/">TVthek</a>,
 <a href="https://tv.orf.at/">Fernsehen</a>,
 <a href="https://orf.at/uebersicht/">Alle ORF Angebote</a>,
 <a href="#" id="tree-nav-toggle-button">Alle Tabellen</a>,
 <a href="#">
 <h2>Alle Tabellen</h2>
 </a>,
 <a href="http://www.fia.com" rel="noopener noreferrer">FIA</a>,
 <a href="http://www.formula1.com" rel="noopener noreferrer">Formula 1.com</a>,
 <a href="https://sport.orf.at/">Zurück zur Startseite</a>,
 <a href="https://orf.at/" lang="en">News</a>,
 <a class="current" href="https://sport.orf.at/">Sport</a>,
 <a href="https://wetter.orf.at/">Wetter</a>,
 <a class="networkOesterreich" href="https://oesterreich.orf.at/">Österreich</a>,
 <a href="https://debatte.orf.at/">Debatte</a>,
 <a href="https://radiothek.orf.at/">Radiothek</a>,
 <a href="https://tvthek.orf.at/">TVthek</a>,
 <a href="https://tv.orf.at/">Fernsehen</a>,
 <a href="https://radio.orf.at/">Radio</a>,
 <a href="https://orf.at/uebersicht/">Alle ORF-Angebote</a>,
 <a href="https://der.orf.at/kontakt">Kontakt</a>,
 <a href="https://orf.at/stories/datenschutz">Datenschutz</a>,
 <a href="https://orf.at/stories/impressum/">Impressum<span class="display-only-desktop">/Offenlegung</span></a>,
 <a href="https://zukunft.orf.at/show_content2.php?s2id=183">Bekanntgaben laut ORF-G</a>,
 <a href="https://publikumsrat.orf.at/">Publikumsrat</a>]

In [94]:
## first I wanted to locate all the different given adresses

In [52]:
all_links = soup.find_all("a")
for link in all_links:
    print(link.get("href"))

#ss-storyWrapper
#ss-networkNavigation
https://tv.orf.at/
https://tvthek.orf.at/
https://radiothek.orf.at/
https://debatte.orf.at/
https://oesterreich.orf.at/
https://wetter.orf.at/
https://sport.orf.at/
https://orf.at/
https://orf.at/uebersicht/
https://sport.orf.at/
https://orf.at/
https://orf.at/
https://sport.orf.at/
https://wetter.orf.at/m/
https://oesterreich.orf.at/m/
https://debatte.orf.at
https://radiothek.orf.at
https://tvthek.orf.at/
https://tv.orf.at/
https://orf.at/uebersicht/
#
#
http://www.fia.com
http://www.formula1.com
https://sport.orf.at/
https://orf.at/
https://sport.orf.at/
https://wetter.orf.at/
https://oesterreich.orf.at/
https://debatte.orf.at/
https://radiothek.orf.at/
https://tvthek.orf.at/
https://tv.orf.at/
https://radio.orf.at/
https://orf.at/uebersicht/
https://der.orf.at/kontakt
https://orf.at/stories/datenschutz
https://orf.at/stories/impressum/
https://zukunft.orf.at/show_content2.php?s2id=183
https://publikumsrat.orf.at/

In [83]:
rows = soup.find_all('tr')
print(rows)

[<tr class="odd"><td class="col0">1.</td>
<td class="col1">Max Verstappen</td>
<td class="col2">NED</td>
<td class="col3">Red Bull</td>
<td class="col4">131</td>
</tr>, <tr class="even"><td class="col0">2.</td>
<td class="col1">Lewis Hamilton</td>
<td class="col2">GBR</td>
<td class="col3">Mercedes</td>
<td class="col4">119</td>
</tr>, <tr class="odd"><td class="col0">3.</td>
<td class="col1">Sergio Perez</td>
<td class="col2">MEX</td>
<td class="col3">Red Bull</td>
<td class="col4">84</td>
</tr>, <tr class="even"><td class="col0">4.</td>
<td class="col1">Lando Norris</td>
<td class="col2">GBR</td>
<td class="col3">McLaren</td>
<td class="col4">76</td>
</tr>, <tr class="odd"><td class="col0">5.</td>
<td class="col1">Valtteri Bottas</td>
<td class="col2">FIN</td>
<td class="col3">Mercedes</td>
<td class="col4">59</td>
</tr>, <tr class="even"><td class="col0">6.</td>
<td class="col1">Charles Leclerc</td>
<td class="col2">MON</td>
<td class="col3">Ferrari</td>
<td class="col4">52</td>
</tr>, <tr class="odd"><td class="col0">7.</td>
<td class="col1">Carlos Sainz</td>
<td class="col2">ESP</td>
<td class="col3">Ferrari</td>
<td class="col4">42</td>
</tr>, <tr class="even"><td class="col0">8.</td>
<td class="col1">Pierre Gasly</td>
<td class="col2">FRA</td>
<td class="col3">Alpha Tauri</td>
<td class="col4">37</td>
</tr>, <tr class="odd"><td class="col0">9.</td>
<td class="col1">Daniel Ricciardo</td>
<td class="col2">AUS</td>
<td class="col3">McLaren</td>
<td class="col4">34</td>
</tr>, <tr class="even"><td class="col0">10.</td>
<td class="col1">Sebastian Vettel</td>
<td class="col2">GER</td>
<td class="col3">Aston Martin</td>
<td class="col4">30</td>
</tr>, <tr class="odd"><td class="col0">11.</td>
<td class="col1">Fernando Alonso</td>
<td class="col2">ESP</td>
<td class="col3">Alpine</td>
<td class="col4">17</td>
</tr>, <tr class="even"><td class="col0">12.</td>
<td class="col1">Esteban Ocon</td>
<td class="col2">FRA</td>
<td class="col3">Alpine</td>
<td class="col4">12</td>
</tr>, <tr class="odd"><td class="col0">13.</td>
<td class="col1">Lance Stroll</td>
<td class="col2">CAN</td>
<td class="col3">Aston Martin</td>
<td class="col4">10</td>
</tr>, <tr class="even"><td class="col0">14.</td>
<td class="col1">Yuki Tsunoda</td>
<td class="col2">JPN</td>
<td class="col3">Alpha Tauri</td>
<td class="col4">8</td>
</tr>, <tr class="odd"><td class="col0">15.</td>
<td class="col1">Kimi Räikkönen</td>
<td class="col2">FIN</td>
<td class="col3">Alfa Romeo</td>
<td class="col4">1</td>
</tr>, <tr class="even"><td class="col0">16.</td>
<td class="col1">Antonio Giovinazzi</td>
<td class="col2">ITA</td>
<td class="col3">Alfa Romeo</td>
<td class="col4">1</td>
</tr>, <tr class="odd"><td class="col0">17.</td>
<td class="col1">George Russell</td>
<td class="col2">GBR</td>
<td class="col3">Williams</td>
<td class="col4">0</td>
</tr>, <tr class="even"><td class="col0">18.</td>
<td class="col1">Mick Schumacher</td>
<td class="col2">GER</td>
<td class="col3">Haas</td>
<td class="col4">0</td>
</tr>, <tr class="odd"><td class="col0">19.</td>
<td class="col1">Nikita Mazepin</td>
<td class="col2">RUS</td>
<td class="col3">Haas</td>
<td class="col4">0</td>
</tr>, <tr class="even"><td class="col0">20.</td>
<td class="col1">Nicholas Latifi</td>
<td class="col2">CAN</td>
<td class="col3">Williams</td>
<td class="col4">0</td>
</tr>, <tr><th class="col0"></th>
<th class="col1"></th>
<th class="col2"></th>
</tr>, <tr class="odd"><td class="col0">1.</td>
<td class="col1">Red Bull</td>
<td class="col2">215</td>
</tr>, <tr class="even"><td class="col0">2.</td>
<td class="col1">Mercedes</td>
<td class="col2">178</td>
</tr>, <tr class="odd"><td class="col0">3.</td>
<td class="col1">McLaren</td>
<td class="col2">110</td>
</tr>, <tr class="even"><td class="col0">4.</td>
<td class="col1">Ferrari</td>
<td class="col2">94</td>
</tr>, <tr class="odd"><td class="col0">5.</td>
<td class="col1">Alpha Tauri</td>
<td class="col2">45</td>
</tr>, <tr class="even"><td class="col0">6.</td>
<td class="col1">Aston Martin</td>
<td class="col2">40</td>
</tr>, <tr class="odd"><td class="col0">7.</td>
<td class="col1">Alpine</td>
<td class="col2">29</td>
</tr>, <tr class="even"><td class="col0">8.</td>
<td class="col1">Alfa Romeo</td>
<td class="col2">2</td>
</tr>, <tr class="odd"><td class="col0">9.</td>
<td class="col1">Williams</td>
<td class="col2">0</td>
</tr>, <tr class="even"><td class="col0">10.</td>
<td class="col1">Haas</td>
<td class="col2">0</td>
</tr>]

In [95]:
# now I want to visualize the classification

In [84]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td class="col0">10.</td>, <td class="col1">Haas</td>, <td class="col2">0</td>]

bs4.element.ResultSet

In [85]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[10., Haas, 0]

In [86]:
import re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[10., Haas, 0]

str

In [93]:
df = pd.DataFrame(list_rows)
df.head(36)

                                                 0
0         [1., Max Verstappen, NED, Red Bull, 131]
1         [2., Lewis Hamilton, GBR, Mercedes, 119]
2            [3., Sergio Perez, MEX, Red Bull, 84]
3             [4., Lando Norris, GBR, McLaren, 76]
4         [5., Valtteri Bottas, FIN, Mercedes, 59]
5          [6., Charles Leclerc, MON, Ferrari, 52]
6             [7., Carlos Sainz, ESP, Ferrari, 42]
7         [8., Pierre Gasly, FRA, Alpha Tauri, 37]
8         [9., Daniel Ricciardo, AUS, McLaren, 34]
9   [10., Sebastian Vettel, GER, Aston Martin, 30]
10         [11., Fernando Alonso, ESP, Alpine, 17]
11            [12., Esteban Ocon, FRA, Alpine, 12]
12      [13., Lance Stroll, CAN, Aston Martin, 10]
13        [14., Yuki Tsunoda, JPN, Alpha Tauri, 8]
14       [15., Kimi Räikkönen, FIN, Alfa Romeo, 1]
15   [16., Antonio Giovinazzi, ITA, Alfa Romeo, 1]
16         [17., George Russell, GBR, Williams, 0]
17            [18., Mick Schumacher, GER, Haas, 0]
18             [19., Nikita Mazepin, RUS, Haas, 0]
19        [20., Nicholas Latifi, CAN, Williams, 0]
20                                              []
21                             [1., Red Bull, 215]
22                             [2., Mercedes, 178]
23                              [3., McLaren, 110]
24                               [4., Ferrari, 94]
25                           [5., Alpha Tauri, 45]
26                          [6., Aston Martin, 40]
27                                [7., Alpine, 29]
28                             [8., Alfa Romeo, 2]
29                               [9., Williams, 0]
30                                  [10., Haas, 0]

In [97]:
drivers = df[0].str.split(',', expand=True)
drivers.head(20)

       0                    1     2              3      4
0    [1.       Max Verstappen   NED       Red Bull   131]
1    [2.       Lewis Hamilton   GBR       Mercedes   119]
2    [3.         Sergio Perez   MEX       Red Bull    84]
3    [4.         Lando Norris   GBR        McLaren    76]
4    [5.      Valtteri Bottas   FIN       Mercedes    59]
5    [6.      Charles Leclerc   MON        Ferrari    52]
6    [7.         Carlos Sainz   ESP        Ferrari    42]
7    [8.         Pierre Gasly   FRA    Alpha Tauri    37]
8    [9.     Daniel Ricciardo   AUS        McLaren    34]
9   [10.     Sebastian Vettel   GER   Aston Martin    30]
10  [11.      Fernando Alonso   ESP         Alpine    17]
11  [12.         Esteban Ocon   FRA         Alpine    12]
12  [13.         Lance Stroll   CAN   Aston Martin    10]
13  [14.         Yuki Tsunoda   JPN    Alpha Tauri     8]
14  [15.       Kimi Räikkönen   FIN     Alfa Romeo     1]
15  [16.   Antonio Giovinazzi   ITA     Alfa Romeo     1]
16  [17.       George Russell   GBR       Williams     0]
17  [18.      Mick Schumacher   GER           Haas     0]
18  [19.       Nikita Mazepin   RUS           Haas     0]
19  [20.      Nicholas Latifi   CAN       Williams     0]

In [99]:
drivers[0] = drivers[0].str.strip('[')
drivers.head(20)

      0                    1     2              3      4
0    1.       Max Verstappen   NED       Red Bull   131]
1    2.       Lewis Hamilton   GBR       Mercedes   119]
2    3.         Sergio Perez   MEX       Red Bull    84]
3    4.         Lando Norris   GBR        McLaren    76]
4    5.      Valtteri Bottas   FIN       Mercedes    59]
5    6.      Charles Leclerc   MON        Ferrari    52]
6    7.         Carlos Sainz   ESP        Ferrari    42]
7    8.         Pierre Gasly   FRA    Alpha Tauri    37]
8    9.     Daniel Ricciardo   AUS        McLaren    34]
9   10.     Sebastian Vettel   GER   Aston Martin    30]
10  11.      Fernando Alonso   ESP         Alpine    17]
11  12.         Esteban Ocon   FRA         Alpine    12]
12  13.         Lance Stroll   CAN   Aston Martin    10]
13  14.         Yuki Tsunoda   JPN    Alpha Tauri     8]
14  15.       Kimi Räikkönen   FIN     Alfa Romeo     1]
15  16.   Antonio Giovinazzi   ITA     Alfa Romeo     1]
16  17.       George Russell   GBR       Williams     0]
17  18.      Mick Schumacher   GER           Haas     0]
18  19.       Nikita Mazepin   RUS           Haas     0]
19  20.      Nicholas Latifi   CAN       Williams     0]

In [124]:
drivers.rename (columns = {0:'place', 1:'driver', 2:'Nationality', 3:'Team', 4: 'points'}, inplace = True)
print (drivers.head(20))

   place               driver Nationality           Team points
0     1.       Max Verstappen         NED       Red Bull   131]
1     2.       Lewis Hamilton         GBR       Mercedes   119]
2     3.         Sergio Perez         MEX       Red Bull    84]
3     4.         Lando Norris         GBR        McLaren    76]
4     5.      Valtteri Bottas         FIN       Mercedes    59]
5     6.      Charles Leclerc         MON        Ferrari    52]
6     7.         Carlos Sainz         ESP        Ferrari    42]
7     8.         Pierre Gasly         FRA    Alpha Tauri    37]
8     9.     Daniel Ricciardo         AUS        McLaren    34]
9    10.     Sebastian Vettel         GER   Aston Martin    30]
10   11.      Fernando Alonso         ESP         Alpine    17]
11   12.         Esteban Ocon         FRA         Alpine    12]
12   13.         Lance Stroll         CAN   Aston Martin    10]
13   14.         Yuki Tsunoda         JPN    Alpha Tauri     8]
14   15.       Kimi Räikkönen         FIN     Alfa Romeo     1]
15   16.   Antonio Giovinazzi         ITA     Alfa Romeo     1]
16   17.       George Russell         GBR       Williams     0]
17   18.      Mick Schumacher         GER           Haas     0]
18   19.       Nikita Mazepin         RUS           Haas     0]
19   20.      Nicholas Latifi         CAN       Williams     0]

In [103]:
teams = df[0].str.split(',', expand=True)
teams.tail(10)

       0              1      2     3     4
21   [1.       Red Bull   215]  None  None
22   [2.       Mercedes   178]  None  None
23   [3.        McLaren   110]  None  None
24   [4.        Ferrari    94]  None  None
25   [5.    Alpha Tauri    45]  None  None
26   [6.   Aston Martin    40]  None  None
27   [7.         Alpine    29]  None  None
28   [8.     Alfa Romeo     2]  None  None
29   [9.       Williams     0]  None  None
30  [10.           Haas     0]  None  None

In [107]:
teams[0] = teams[0].str.strip('[')
teams.tail(10)

      0              1      2     3     4
21   1.       Red Bull   215]  None  None
22   2.       Mercedes   178]  None  None
23   3.        McLaren   110]  None  None
24   4.        Ferrari    94]  None  None
25   5.    Alpha Tauri    45]  None  None
26   6.   Aston Martin    40]  None  None
27   7.         Alpine    29]  None  None
28   8.     Alfa Romeo     2]  None  None
29   9.       Williams     0]  None  None
30  10.           Haas     0]  None  None

In [136]:
teams.rename(columns={0 : 'place', 1 : 'team', 2 : 'points'}, inplace = True)

In [143]:
print (teams.tail(10))

   place           team points
21    1.       Red Bull   215]
22    2.       Mercedes   178]
23    3.        McLaren   110]
24    4.        Ferrari    94]
25    5.    Alpha Tauri    45]
26    6.   Aston Martin    40]
27    7.         Alpine    29]
28    8.     Alfa Romeo     2]
29    9.       Williams     0]
30   10.           Haas     0]

In [149]:
# with the pop-command I was able to cut out the 3rd and 4th column which dont contain any information. However, somehow the command did delete itself after being used and if I try to reput it 
# it tells me obviously, that there is no column named three or four. Probably the default method of pop automatically saves the edited column in the dataframe.

In [148]:
# So now I created two different classifications out of the website which show one the one side the classification of the drivers and on the other side the classification of the teams

In [151]:
drivers['points'] = drivers['points'].str.strip(']')
drivers.head(20)

   place               driver Nationality           Team points
0     1.       Max Verstappen         NED       Red Bull    131
1     2.       Lewis Hamilton         GBR       Mercedes    119
2     3.         Sergio Perez         MEX       Red Bull     84
3     4.         Lando Norris         GBR        McLaren     76
4     5.      Valtteri Bottas         FIN       Mercedes     59
5     6.      Charles Leclerc         MON        Ferrari     52
6     7.         Carlos Sainz         ESP        Ferrari     42
7     8.         Pierre Gasly         FRA    Alpha Tauri     37
8     9.     Daniel Ricciardo         AUS        McLaren     34
9    10.     Sebastian Vettel         GER   Aston Martin     30
10   11.      Fernando Alonso         ESP         Alpine     17
11   12.         Esteban Ocon         FRA         Alpine     12
12   13.         Lance Stroll         CAN   Aston Martin     10
13   14.         Yuki Tsunoda         JPN    Alpha Tauri      8
14   15.       Kimi Räikkönen         FIN     Alfa Romeo      1
15   16.   Antonio Giovinazzi         ITA     Alfa Romeo      1
16   17.       George Russell         GBR       Williams      0
17   18.      Mick Schumacher         GER           Haas      0
18   19.       Nikita Mazepin         RUS           Haas      0
19   20.      Nicholas Latifi         CAN       Williams      0

In [155]:
teams['points'] = teams['points'].str.strip(']')
teams.tail(10)

   place           team points
21    1.       Red Bull    215
22    2.       Mercedes    178
23    3.        McLaren    110
24    4.        Ferrari     94
25    5.    Alpha Tauri     45
26    6.   Aston Martin     40
27    7.         Alpine     29
28    8.     Alfa Romeo      2
29    9.       Williams      0
30   10.           Haas      0

In [174]:
# Although it took me some time to understand the mechanism of the different commands and to completely construct right looking classifications, I know that there could be more 
# to do. To be honest I am in the middle of two really rough exam weeks and right now I cannot spend more time to program further. I hope this is okay, seeing also that for the 
# first three assignments I invested more time. Once the exams will be finished and I got to known with my summer work (at ORF), I will probably continue playing around with this 
# classifications, since I enjoy programming. It just is really costy in terms of time. Greeting Mr. Souza and thank your for the lecture, which made me learn a lot.