## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [7]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [8]:
x.replace ("DiClOrod  IFeNi  lTRicLOr oETaNo  ","").replace (" ","").capitalize ()

'Dichlorodiphenyltrichloroethane'

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [13]:
A, B, C, D = "word", 15, 3.14, "list"

In [14]:
print (A ,B ,C ,D )

word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [40]:
w , h = input ("Please insert your weight and your height").split ()
BMI = float(w) / float(h)**2
print (BMI)

Please insert your weight and your height 68.4 1.71

23.39181286549708

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [41]:
if BMI <= 18.5:
    print ("You are underweight")
elif BMI <= 24.9:
    print ("You are normal Weight")
elif BMI <= 29.9:
    print ("You are in Pre-Obesity")
elif BMI <= 34.9:
    print ("You are in Obesity Class I")
elif BMI <= 39.9:
    print ("You are in Obesity Class II")
else:
    print ("You are in Obesity Class III")

You are normal Weight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [44]:
A = int(input ("Please insert your number!"))
factorial = 1
if A < 0:
   print("Factorials do not exist for negative numbers")
elif A == 0:
   print("The factorial for 0 is 1")
else:
   for i in range(1,A + 1):
       factorial = factorial*i
   print("The factorial of", A, "is", factorial)

Please insert your number! 6

The factorial of 6 is 720

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [45]:
sumOfNumbers, CantBeMinusOne= 0, 0
while CantBeMinusOne != -1:
    sumOfNumbers = sumOfNumbers + CantBeMinusOne
    CantBeMinusOne = int(input("Please insert your number"))
    print ("The sum of the integers is", sumOfNumbers)

Please insert your number 1

The sum of the integers is 0

Please insert your number 2

The sum of the integers is 1

Please insert your number 3

The sum of the integers is 3

Please insert your number 4

The sum of the integers is 6

Please insert your number 5

The sum of the integers is 10

Please insert your number -1

The sum of the integers is 15

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [46]:
first_name, amount_of_hours_worked, salary_per_hour = input("Please insert your first name, the amount of hours worked and your salary per hour separated by commas!").split(",")
total_salary = float(amount_of_hours_worked) * float(salary_per_hour)
total_salary_tdp = "{:.2f}".format(total_salary)
print ("Dear", first_name, ": The total money you have earned is",total_salary_tdp,"$. Thanks for using our service!")

Please insert your first name, the amount of hours worked and your salary per hour separated by commas! Nathanael,1,3

Dear Nathanael : The total money you have earned is 3.00 $. Thanks for using our service!

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [47]:
A, B, C = input("Please insert your three numbers divided by a comma!").split(",")

Please insert your three numbers divided by a comma! 1,2,3

    a) the area of the triangle rectangle with A as the base and C as the height.

In [48]:
area_triangle = float(A) * float(C)/2
print ("The are of the triangle is:", area_triangle)

The are of the triangle is: 1.5

    b) the area of the circle of radius C. (pi = 3.14159)

In [49]:
area_circle = float(C)**2 * 3.14159
print ("The area of the circle is:", area_circle)

The area of the circle is: 28.27431

    c) the area of the trapezoid that has A and B for bases and C for height.

In [50]:
area_trapezoid = 0.5 * (float(A) + float(B)) * float(C)
print ("The area of the trapezoid is:", area_trapezoid)

The area of the trapezoid is: 4.5

    d) the area of the square that has side B.

In [51]:
area_square = float(B)**2
print ("The area of the square is:", area_square)

The area of the square is: 4.0

    e) the area of the rectangle that has sides A and B.

In [52]:
area_rectangle = float(A) * float(B)
print ("The area of the rectangle is:", area_rectangle)

The area of the rectangle is: 2.0

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [53]:
a, b, c = input("Please insert your three values divided by a comma!").split(",")
if a == 0:
    print("If a is Zero this is not a second degree equation")
else:
    discriminant = float(b)**2 - 4*float(a)*float(c)
    if discriminant < 0:
        print("If the value of the discriminant is below 0 you cannot calculate the roots therefore there are none")
    elif discriminant == 0:
        root = (float(b)*(-1))/(float(a)*2)
        print("The root of this equation is:", root)
    else:
        x1 = ((float(b)*(-1))+discriminant**0.5)/(float(a)*2)
        x2 = ((float(b)*(-1))-discriminant**0.5)/(float(a)*2)
        print("The two roots for this equation are", x1, "and", x2)

Please insert your three values divided by a comma! 1,9,3

The two roots for this equation are -0.34668806854096257 and -8.653311931459037

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [54]:
x1, y1 = input ("Please insert the coordinates x1 and y1! separated by a comma").split(",") 
x2, y2 = input ("Please insert the coordinates x2 and y2! separated by a comma").split(",")
d = ((float(x1)-float(x2))**2+(float(y1)-float(y2))**2)**0.5
print ("The distance between these two coordinates is:", d)

Please insert the coordinates x1 and y1! separated by a comma 1,4
Please insert the coordinates x2 and y2! separated by a comma 1,6

The distance between these two coordinates is: 2.0

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [55]:
x,y = input("Please insert x and y, separated by a comma").split(",")
if float(x)==0 and float(y)==0:
    print("You are at the origin")
elif float(y)==0:
    print("You are on the x-axis")
elif float(x)==0:
    print ("You are on the y-axis")
elif float(x) > 0:
    print ("You are in q4")
elif float(y) > 0:
    print ("You are in q2")
elif float(x) > 0 and float(y) > 0:
    print ("You are in q1")
else:
    print ("You are in q3")

Please insert x and y, separated by a comma 1,4

You are in q4

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [19]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [22]:
country_code = int(input("Enter the calling-code of the country!"))
code_dict = {43:'Austria',
             32:'Belgium',
             359:'Bulgaria',
             385:'Croatia',
             357:'Cyprus',
             420:'Czech Republic',
             45:'Denmark',
             372:'Estonia',
             359:'Finland',
             33:'France',}
if country_code in code_dict.keys():
    print("It is a number of", code_dict[country_code])
else:
    print('Code not recognized.')

Enter the calling-code of the country! 43

It is a number of Austria

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [39]:
six_numbers = [float(x) for x in input ("Please enter six numbers separated by a comma!").split(",")]
positives, every = 0, 0
for i in six_numbers:
    every = every + i
    if i > 0:
        positives = positives + 1
print("There are", positives, "positive numbers!")
average = positives / 6
if average == 1.0:
    print("All the numbers are positive therefore we have 100% positive variables")
elif average != 1.0:
    print("In average there are", average, "positive numbers!")

Please enter six numbers separated by a comma! 1,2,3,4,5,6

There are 6 positive numbers!
All the numbers are positive therefore we have 100% positive variables

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [56]:
N = int(input("Please insert a number!"))
for i in range(1,N+1):
    if i%2==0:
        print(i**2)

Please insert a number! 8

4
16
36
64

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [61]:
Last_number = int(input("Please insert a number!"))
even_or_odd = "even" if Last_number%2 == 0 else "odd"
positive_or_negative = "positive" if Last_number == abs(Last_number) else 'negative' 
if Last_number == 0:
    print("null")
else:
    print("The number is", even_or_odd, "and", positive_or_negative)

Please insert a number! 8

The number is even and positive

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.